
<div class="row">
        <form class="col-xs-12 col-lg-5 col-lg-offset-3" ng-submit="loginSubmit()">
                <div class="form-group">
                        <label>Email address</label>
                        <input ng-model="enteredEmail" type="text" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                        <label>Password</label>
                        <input ng-model="enteredPassword" type="text" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
</div>


