html {
    min-height: 100%;
    font-size: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
    background: url("../images/city.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 80px;
    min-height: 100%;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #000;
}

h2 {
    color: #fff;
    font-size: 2.5rem;
}

button {
    background: #fff;
    color: darkred;
    border: none;
    padding: 1em 4em;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 600;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: transparent;
}

button:hover {
    background: darkred;
    color: #fff;
}

span {
    font-size: 15px;
    font-weight: 600;
    color: darkred;
}


.header-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 90%;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    padding: 1.5em;
}

.chanel {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    background: #dcdcdc;
    margin: 5px;
    text-align: left;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

form label,
form input {
    cursor: pointer;
}

label {
    position: relative;
    display: block;
    padding-left: 30px;
    font-size: 1.6rem;
}

label:before {
    content: '';
}
input {
    display: none;
}

input + label:before {
    content: "✓";
    text-align: center;
    line-height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    color: transparent;
    font-size: 15px;
    background-color: #fff;
    margin-right: 5px;
    vertical-align: middle;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(203, 203, 203);
    border-image: initial;
}


input:checked + label:before {
    color: darkred;
}

input:checked + label {
    color: darkred;
    font-weight: 700;
}

.news-block {
    padding: 1em 2em;
    margin: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    background: rgba(255, 255, 255, 0.8);
}

.news-block h2 {
    color: darkred;
    border-bottom: 4px double darkred;
    padding-bottom: 10px;
}

h3 {
    color: #000;
    margin-bottom: 0;
    font-size: 2rem;
}

p {
    border-bottom: 1px dashed darkred;
    padding-bottom: 10px;
    font-size: 1.6rem;
}

p:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

a {
    display: block;
    margin-top: 10px;
    color: #4682b4;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    color: #191970;
    text-decoration: underline;
}

/*------------------------------ media queries ------------------------------*/

@media screen and (max-width: 1000px) {
    .chanel {
        width: 45%;
    }

    button {
        padding: 1em 2em;
    }
}

@media screen and (max-width: 840px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 700px) {
    .chanel {
        width: 40%;
    }

    .header-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .header-wrapper h2 {
        margin: 1rem;
    }

    button {
        padding: 1em;
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    body {
        padding-top: 110px;
    }

    .chanel {
        width: 100%;
    }
}
