<a class="add-todo-btn" ng-href="/add">Add Todo</a>
<button ng-click="orderByQuery('date')">Order by Date</button>
<button ng-click="orderByQuery('name')">Order by Name</button>
<select ng-model="selectedPeriod" ng-options="option.name for option in options">
    <option value="" selected="selected">No older than...</option>
</select>
<div>
    <ul class="todo-items">
        <li ng-repeat="item in items | filter:statusFilter | filter:filterDate | orderBy:sortField:reverse" >
            <p ng-click="changeStatus(item)" ng-class="{'done-todo': item.complited,'new-todo': !item.complited, 'not-visible': item.editing, 'visible': !item.editing}">{{item.name}}</p>
            <input ng-class="{'not-visible': !item.editing, 'visible': item.editing}" ng-model="item.name">
            <a ng-click="editName(item)" ng-href="/edit/{{item.id}}" class="edit-icon fa" ng-class="{'fa-pencil': !item.editing, 'fa-check': item.editing}"></a>
            <span>{{item.date | date:'dd/MM/yyyy'}}</span>
        </li>
    </ul>
</div>
<button ng-click="changeFilter('')">All</button>
<button ng-click="changeFilter('new')">New</button>
<button ng-click="changeFilter('complited')">Complited</button>
