/***************** fonts **********************/
@font-face {
    font-family: HelveticaRoman;
    src: url("../fonts/HelveticaCdBd.eot");
    src: url("../fonts/HelveticaCdBd.woff");
    src: url("../fonts/HelveticaCdBd.otf");
    src: url("../fonts/HelveticaCdBd.ttf");
}
.modal-holiday {
    position: fixed;
    top: 20px;
    right: 25%;
    bottom: 0;
    left: 25%;
    z-index: 99999;
    overflow: hidden;
    display: none;
}
.modal-holiday .image-block{
    background-image: url(../theme/images/holiday.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.modal-holiday .content{
    height: 100%;
    background: #eae7e7;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 20px;
}
.modal-holiday button.modal-close {
    background: transparent;
    border: none;
    float: right;
    margin-right: 30px;
}
.modal-holiday button.modal-close i {
    color: black!important;
    font-size: 25px;
}
.modal-holiday .content .five-years{
    font-size: 18px;
    color: #db4544;
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 30px;
}

.modal-holiday .content .first-line  {
    font-size:14px;
    color:#999999;
}
.modal-holiday .content .second-line  {
    font-size:40px;
    color:#333333;
    margin-bottom: 20px;
}

.modal-holiday .content .third-line  {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}

.modal-holiday .content .fours-line  {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    text-decoration: underline;
}
.modal-holiday .content footer{
    font-size:12px;
    color:#000000;
}
/*************** general ******************/

.modal-login button.modal-close i {
    color: black!important;
}
button.modal-close  i {
    color: white!important;
}
button  i {
    color: #ffffff!important;
}
.menu-callback {
    display:none;
}
.menu-callback input {
    margin-top: 6px;
    width: 100%;
}

.menu-callback button.custom-button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 40px;
    width: 100%;
}
.modal-maps {
    display: none;
    position: fixed;
    top: 0;
    right: 20%;
    bottom: 20px;
    left: 20%;
    z-index: 99999;
    overflow: hidden;
}
.modal-maps .header  {
    height: 50px;
}
.modal-maps .header button.modal-close {
    display: block;
    float: right;
    border: none;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 0px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.popup-block {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), visibility 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), visibility 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), visibility 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-backdrop-filter: grayscale(0.5);
    outline: 0
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 15px;
}

.modal-login .panel-body p.info {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.modal-login .panel-body .login-block .login-form {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.modal-login .panel-body .login-block .login-form input {
    border-radius: 0 !important;
    display: flex;
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 90% !important;
}

.login-form .form-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-login .panel-body .login-block .login-form label {
    margin-bottom: 10px;
}

.modal-login .panel-body .login-block .login-form input {
    border-radius: 0 !important;
    display: flex;
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 90% !important;
}

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
    color: #3c763d;
}

.modal-login .login-block {
    margin-top: -20px;
}

.modal-login .panel-heading button.modal-close i.fa-close {
    font-size: 22px;
}

.remember-block {
    display: flex;
    justify-content: space-between;
}

.main-page .calculator-block {
    display: none;
}

.main-page .calculator-block .b-detail__main-aside-payment {
    margin-top: 10px;
}

.main-page .calculator-block .b-detail__main-aside-payment .inner {
    background: #e6e6e6;
    padding: 20px;
}

.main-page .calculator-block .b-detail__main-aside-payment .inner h2 {
    font-size: 20px;
}
.main-page .calculator-block .js-loan-results {
    float: right;
    width: 120px;
}
.main-page .calculator-block .js-loan-results  p {
    margin-left: 5px;
    font-size: 15px;
}
/*@media screen and (max-width: 767px)*/
.remember-block {
    flex-direction: column;
}

.field-loginform-rememberme {
    float: left;
    margin-right: 10px;
    display: inline-block;
}

a.reset-password {
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

a.reset-password + span {
    margin-top: 10px;
}

.social_login {
    margin-bottom: 25px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.social_login a {
    margin-right: 5px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal-login .panel-heading button.modal-close {
    display: block;
    float: right;
    border: none;
    background: transparent;
    position: absolute;
    top: 5px;
    right: 5px;
}

.modal-login .panel-heading button.modal-close i.fa-close {
    font-size: 22px;
}

.login-button {
    background-color: #f76d2b !important;
    color: #ffffff !important;
    margin-left: 10px !important;
    padding: 2px 2px 2px 20px !important;
}

.login-button :hover {
    background-color: #555 !important;
    color: #fff !important;
}

.login-button .fa {
    background-color: white !important;
    color: grey !important;
}

.vk-login, .fb-login {

}

.vk-login {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #5e81a8;
    display: inline-block;
    position: relative;
    top: 1px;
}

.vk-login i.fa {
    color: #fff;
    line-height: 15px;
    text-align: center;
    font-size: 22px;
    display: block;
    position: relative;
    top: 14px;
    left: 5px;
}

.vk-login:hover {
    background-color: #6888ad;
    text-decoration: none;
    color: #fff !important;
}

.fb-login {
    background: #4267b2;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
}

.fb-login:hover {
    text-decoration: none;
    color: white;
!important;
}

.fb-login i.fa {
    color: #fff;
    line-height: 15px;
    text-align: center;
    font-size: 22px;
    display: block;
    position: relative;
    top: 14px;
    left: 5px;
}

.google-login {
    background: #dd4b39;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    top: 3px;
}

.google-login:hover {
    text-decoration: none;
    color: white;
!important;
}

.google-login i.fa {
    color: #fff;
    line-height: 15px;
    text-align: center;
    font-size: 30px;
    display: block;
    position: relative;
    top: 15px;
    left: 1px;
}

.ok-login {
    background: white;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    top: 4px;
    border: 1px solid #ced3d6;
}

.ok-login:hover {
    text-decoration: none;
    color: white;
}

.ok-login i.fa {
    color: orange;
    line-height: 15px;
    text-align: center;
    font-size: 30px;
    display: block;
    position: relative;
    top: 15px;
    left: 1px;
}

.ya-login {
    background: white;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    top: 4px;
    border: 1px solid #ced3d6;
}

.ya-login:hover {
    text-decoration: none;
    color: white;
!important;
}

.ya-login span {
    color: red;
    line-height: 15px;
    text-align: center;
    font-size: 27px;
    display: block;
    position: relative;
    top: 14px;
}

.fb-login .fa, .vk-login .fa {
    margin-right: 10px;
}

.login-form .login-input {
    display: block;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 12px 12px;
    font: 400 12px 'Open Sans', sans-serif;
    border: 2px solid #b7b7b9;
    border-radius: 30px;
}

.field-loginform-username label, .field-loginform-password label {
    float: left;
}

.field-loginform-password {
    clear: both;
}

.field-loginform-password #loginform-password {
    margin-left: 90px;
}

.login-button {
    clear: both;
    float: left;
}

.field-loginform-username .help-block-error, .field-loginform-password .help-block-error {
    display: none;
}

.field-loginform-rememberme {
    float: left;
    margin-right: 10px;
    display: inline-block;
}

a.reset-password {
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-container {
    margin-top: 20px;
}

.popup-block {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), visibility 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), visibility 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), visibility 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-backdrop-filter: grayscale(0.5);
    outline: 0;
}

.modal-login {
    display: none;
    position: fixed;
    top: 0;
    right: 30%;
    bottom: 0;
    left: 30%;
    z-index: 99999;
    overflow: hidden;
}

.modal-login-bookmarks {
    position: relative;
    width: 480px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 15px;
}

.modal-login-bookmarks-table {
    display: table;
    width: 100%;
    height: 100%;
}

.modal-login-bookmarks-row {
    display: table-row;
}

.modal-login-bookmarks-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.modal-login .panel-heading {
    width: 100%;
    display: inline-block;
}

body {
    font-family: Arial, sans-serif;
    color: #000;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: HelveticaRoman, sans-serif;
    font-weight: 600;

}

p {
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #db4544;
    text-decoration: none;
}

a,
button {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.custom-button {
    padding: 10px 30px;
    border: none;
    background: #db4544;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-button i {
    margin-right: 10px;
}

.custom-button:hover {
    background: #be2322;
}

.icon-right-btn:hover {
    color: #fff;
}

.icon-right-btn i {
    margin-right: 0;
    margin-left: 5px;
}

.nav-tabs {
    margin-bottom: 50px;
    border-bottom-color: #999999;
}

.nav-tabs .nav-link {
    color: #666666;
    font-weight: 600;
    border: none;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:active,
.nav-tabs .nav-link.active {
    border-radius: 0;
    color: #000;
    border: none;
    border-bottom: 6px solid #db4544;
    background: transparent;
    outline: transparent;
}

.hidden-mobile {
    display: none;
}

/*-------------------------------hamburger-----------------------------*/
#hamburger {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 13px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: block;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    border-radius: 9px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#hamburger span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#hamburger span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#hamburger.open span {
    background: #db4544;
}

#hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 5px;
}

#hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 22px;
    left: 5px;
}

/************** Info header ***************/
.info-header {
    height: 50px;
    background: #eae7e7;
    font-size: 14px;
}
.info-header .first-level-menu {
    margin-bottom: 0;
}
.info-header .first-level-menu > li {
    padding: 0;
    margin-bottom: 0;
}

.info-header .row {
    height: 100%;
}

.info-header button {
    height: 100%;
    width: 100%;
    border: none;
    background: #db4544;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.info-header button i {
    margin-right: 10px;
}

.info-header a i {
    margin-right: 10px;
    color: #db4544;
}

.info-header button:hover {
    background: #be2322;
}

.info-header .social-m a i {
    font-size: 25px;
    color: #807f7f;
}

.info-header .social-m a:hover i,
.info-header .social-m a:focus i {
    color: #db4544;
}

.main-menu {
    height: 100px;
}

.site-logo {
    display: inline-block;
    padding: 20px 0;
}

.site-logo img {
    width: 100%;
}

.first-level-menu {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.first-level-menu a {
    display: block;
    cursor: pointer;
}

.first-level-menu > li {
    display: inline-block;
    font-size: 18px;
    padding: 0 15px;
}

.first-level-menu > li i {
    font-size: 11px;
}

.dropdown-menu {
    margin: 0;
}

/*********************** header mobile **************************/
.mobile-header {
    position: relative;
    background: #eae7e7;
    padding: 10px;
    overflow: hidden;
}

.mobile-button-add {
    padding: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 85px;
}

.mobile-button-add i {
    margin-right: 0;
    font-size: 24px;
    vertical-align: middle;
}

.mobile-menu {
    position: absolute;
    z-index: 2;
    background: #f5f5f5;
    width: calc(100% - 78px);
    min-height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: auto;
    max-height: 100vh;
}
.mobile-menu span.badge {
    margin-left: 6px;
}
.mobile-menu nav {
    overflow: auto;
}

.mobile-menu ul {
    padding: 15px;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid #cccccc;
}

.mobile-menu ul:last-of-type {
    border-bottom: none;
}

.mobile-menu ul li {
    margin-bottom: 10px;
}

.mobile-menu i {
    color: #db4544;
    width: 25px;
}

.mobile-menu a {
    font-size: 14px;
}

.mobile-menu .dropdown i {
    color: #000;
    font-size: 12px;
}

.social-mobile {
    padding: 0 15px 70px;
}

.social-mobile .fab {
    font-size: 30px;
}

.social-mobile .custom-button {
    padding: 10px 5px !important;
    width: 100%;
    font-size: 14px;
}

.social-mobile p {
    margin-top: 10px;
}

.mobile-menu .social-mobile button i {
    color: #fff;
}

.mobile-menu .fa-vk {
    color: #5c87b3;
}

.mobile-menu .fa-instagram {
    color: #a02020;
}

.mobile-menu .fa-vk:hover,
.mobile-menu .fa-instagram:hover {
    color: #db4544;
}

.social-mobile .full-version {
    color: #db4544;
    font-size: 14px;
    display: inline-block;
    margin: 10px 0;
}

.social-mobile p {
    font-size: 9px;
}

.open-menu {
    left: 0;
}

.fixed-body,
.fixed-body body {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.fixed-body body .wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
}

/**************************** Banner *************************/
.banner {
    /*padding: 50px 50px 100px 50px;*/
    padding: 30px 10px;
    background: url("../theme/images/banner-mobile.jpg") no-repeat center top;
    background-size: contain;
}

.banner h2 {
    font-size: 20px;
}

.banner h2,
.banner a {
    color: #fff;
}

.banner form p {
    color: #000;
    font-size: 16px;
    padding: 3px 10px;
    text-align: left;
    margin: 0;
    cursor: pointer;
}

.banner form .dropdown-menu {
    width: 100%;
}

.dropdown-custom {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 3;
    display: none;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.9);
}

.dropdown-custom .select-search-block {
    width: 49%;
}

.open-dropdown + .dropdown-custom {
    display: flex;
}

.read-more-link {
    display: none;
}

.search-form {
    padding: 10px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
}

.select-search-block {
    position: relative;
    border: 1px solid #000;
}

.select-search-block select {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 3px 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-search-block i {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 0;
    font-size: 11px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.count-search {
    font-size: 12px;
    margin-bottom: 10px;
}

/************************* Category *************************/
.category-img {
    display: block;
    margin: 0 auto;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
}

.company {
    background-image: url('../theme/images/company-car-icon.png');
}

.private {
    background-image: url('../theme/images/private-car-icon.png');
}

.moto {
    background-image: url('../theme/images/moto-icon.png');
}
.boat {
    background-size: cover;
    background-image: url('../theme/images/boat-icon.png');
}

.category-menu ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.category-menu li {
    display: inline-block;
    width: 48%;
    margin-bottom: 15px;
}

.category-menu li a {
    padding: 15px 18px;
    display: inline-block;
    background: #fff;
    text-align: center;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    box-shadow: 0 0 3px #dddddd;
}

.category-menu li a:hover {
    background: #f5f5f5;
}

.category-menu li a:hover .category-img {
    filter: none;
}
.category-menu li a:hover .company,.category-menu li a:active  .company {
    background-image: url('../theme/images/company-car-icon-hover.png');
}

.category-menu li a:hover .private,.category-menu li a:active  .private {
    background-image: url('../theme/images/private-car-icon-hover.png');
}

.category-menu li a:hover .moto,.category-menu li a:active  .moto {
    background-image: url('../theme/images/moto-icon-hover.png');
}
.category-menu li a:hover .boat, .category-menu li a:active  .boat{
    background-size: cover;
    background-image: url('../theme/images/boat-icon-hover.png');
}



/************************* Brands **************************/
.brands {
    padding: 20px;
    padding-right: 0;
    margin-bottom: 10px;
    columns: 2;
}

.brand-item {
    margin-bottom: 10px;
}

.brand-item a {
    padding: 5px 0;
}

.brand-item a span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.brand-img {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    filter: sepia(100) saturate(0.25);
    -webkit-filter: sepia(100) saturate(0.25);
}

.brand-item a:hover {

}

.brand-item a:hover .brand-amount {
    color: #db4544;
}

.brand-item a:hover .brand-img {
    filter: none;
}

.brand-item a .brand-amount {
    font-size: 12px;
    margin-left: 5px;
    color: #666666;
}

.brand-bmw {
    background-image: url("../theme/images/bmw-brand-hover.png");
}

.show-all {
    display: block;
    text-align: center;
    background: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0 3px 3px #dddddd;
}

.show-all i {
    font-size: 10px;
}

.show-all:hover {
    background: #dddddd;
}

.adv {
    height: 100%;
    min-height: 200px;
    background: #666;
}

/*********************** Carousel **************************/
/*********************** Carousel **************************/
.loader {
    display: none;
    left: 50%;
    top:48%;
    position: relative;
}
.loader i {
    font-size: 40px;
}

.carousel-cars .nav-tabs .nav-item a {
    text-align: center;
}
.carousel-cars {
    margin-top: 30px;
    padding-bottom: 22px;
    background: #f4f4f4;
}
.carousel-cars .car-description p {
    height: 40px;
}
.carousel-cars .container {
    padding: 0 10px;
    overflow: hidden;
}


.carousel-cars .nav-tabs {
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0 0 19px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.carousel-cars .nav-tabs:hover {

}

.carousel-cars .nav-tabs .nav-item {
    width: auto;
}

.carousel-cars .nav-tabs .nav-item a {
    font-size: 13px;
}

.carousel-cars .nav-tabs .nav-link:hover,
.carousel-cars .nav-tabs .nav-link.active {
    border-width: 2px;
}

.carousel-image {
    /*height: 168px;*/
    background: gray;
}

.carousel-indicators li {
    background: #000;
}

.carousel-indicators .active {
    background: red;
}

.carousel-cars .carousel-image img {
    width: 100%;
}

.carousel-cars .carousel-row {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.carousel-cars .carousel-row:hover {

}

.carousel-cars .carousel-item {
    flex: none;
    display: block;
    width: 252px;
    margin-right: 10px;
    background: #fff;
    box-shadow: 0 2px 5px #dddddd;
}

.carousel-cars .car-description {
    padding: 25px;
    white-space: normal;
    width: 100%;
}

.carousel-cars .car-description h5 {
    font-size: 12px;
}

.carousel-cars .car-description p {
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 10px;
}

.price-rb {
    color: #db4544;
    font-weight: 600;
    margin-right: 20px;
}

.price-dol {
    font-size: 12px;
    font-weight: 600;
}

.show-more {
    display: block;
    text-align: center;
    background: #fff;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 3px 3px #dddddd;
}

.show-more i {
    font-size: 10px;
}

.show-more:hover {
    background: #dddddd;
}

/*********************** how it works ***********************/
.how-it-works {
    padding: 20px 0;
}

.how-it-works .nav-tabs {
    margin-bottom: 0;
}

.how-it-works .tab-content {
    margin-top: 50px;
}

.step-buy {
    width: 20%;
}

.step-image {
    height: 130px;
    width: 130px;
    margin: 0 auto 30px;
    background-color: #f4f4f4;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.step-image:hover {
    box-shadow: 1px 1px 5px #e5e5e5;
    filter: grayscale(100%);
}

.first-step .step-image {
    background-image: url("../theme/images/building.png");
}

.second-step .step-image {
    background-image: url("../theme/images/bank.png");
}

.third-step .step-image {
    background-image: url("../theme/images/discuss.png");
}

.fourth-step .step-image {
    background-image: url("../theme/images/note.png");
}

.fifth-step .step-image {
    background-image: url("../theme/images/policeman.png");
}

.step-text {
    padding: 0 10px;
}

.step-text p {
    font-size: 14px;
}

/************************** Callback ************************/
.callback .container {
    padding: 50px 30px;
    background: url("../theme/images/callback-bg.jpg") no-repeat center top;
    background-size: 100%;
}

.callback h2 {
    font-size: 28px;
    font-weight: 600;
}

.callback p {
    font-size: 14px;
}

.callback ul {
    list-style-type: none;
    padding-left: 0;
    columns: 2;
}

.callback ul li {
    font-size: 14px;
}

.callback ul li:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 5px 0;
    width: 20px;
    height: 20px;
    background: url("../theme/images/checked-icon.png") no-repeat center;
    background-size: contain;
}

.callback form {
    padding: 10px;
    margin-top: 0;
    text-align: center;
    border: 3px solid #db4544;
    background: #f4f4f4;
}

.callback form input {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border: none;
    box-shadow: 1px 1px 3px #d3d3d3;
}

.callback .custom-button {
    font-size: 15px;
    padding: 6px 30px;
}

.callback form input::-moz-placeholder {
    color: #000;
}

.callback form input::-webkit-input-placeholder {
    color: #000;
}

.callback span.callback-form-succes, .callback span.callback-form-error {
    margin-top: 5px;
    display: inline-block;
    font-weight: bold;
}

/*********************** news **************************/
.news {
    padding: 20px 0;
}
.news span.created_at {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}
.news span.created_at i{
    margin-right: 5px;
}
.news .container {
    padding: 0 10px;
    overflow: hidden;
}

.news h2 {
    font-size: 14px;
    margin: 0;
}

.news h2 + p {
    font-size: 12px;
}

.news-row {
    flex-wrap: nowrap;
    padding-right: 15px;
}
.main-row {
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.main-row:hover {

}

.news-row div[class*="col-"] {
    flex: none;
    width: auto;
    padding-right: 0;
}

.news-item {
    height: 100%;
    margin-bottom: 5px;
    box-shadow: 0 0 3px #dddddd;
    width: 235px;
}

.news-item h3 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 3px;
}

.news-item p {
    font-size: 10px;
}

.news-item a {
    font-size: 12px;
}

.news-item a i {
    font-size: 12px;
}

.news-image img{
    width: 100%;
    min-height: 180px;
}

.news-description {
    padding: 7px;
}

/*************************** credit-request *********************/
.credit-request {
    color: #fff;
}

.online-block {
    padding: 20px 0;
    background: url("../theme/images/credit-bg.jpg") no-repeat center;
    background-size: cover;
}

.online-block h2 {
    font-size: 23px;
}

.online-block p {
    font-size: 13px;
}

.calc-block {
    padding: 20px 0;
    background: #db4544;
}

.calc-block h4 {
    font-size: 18px;
    font-weight: 600;
}

.calc-block button {
    padding: 10px 30px;
    border: none;
    background: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.calc-block button:hover {
    background: #f4f4f4;
}

/************************ footer ***************************/
.info-links {
    padding: 30px 0;
}

.info-links ul {
    padding: 0;
}

.info-links ul li {
    display: block;
    margin-bottom: 10px;
}

.info-links ul li a {
    color: #db4544;
    padding: 10px 0;
    font-weight: 600;
}

.info-links ul li a:hover {
    color: #000;
}

.footer-menu {
    padding-bottom: 30px;
}

.footer-menu h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-menu ul {
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}

.footer-menu ul li {
    margin-bottom: 5px;
    font-size: 10px;
}

.footer-menu button {
    width: 100%;
    padding: 10px;
}

.footer-menu .fab {
    font-size: 30px;
}

.fa-vk {
    color: #5c87b3;
}

.fa-instagram {
    color: #a02020;
}

.fa-vk:hover,
.fa-instagram:hover {
    color: #db4544;
}

.copyrights {
    background: #cfcfcf;
    padding: 10px;
}

.copyrights p {
    font-size: 12px;
    margin: 0;
}
.copirights-mobile {
    padding: 0 7px;
}
.copirights-mobile a {
    color: #db4544;
    font-size: 11px;
    margin-right: 23px;
}
.copirights-mobile p {
    font-size: 11px;
    margin-top: 14px;
}
/********************* media queries ***********************/

/* Old Style */
@media screen and (max-width: 599px) {
    .modal-holiday {
        position: absolute;
        right: 0;
        top: 10%;
        bottom: 0;
        left: 0;
        height: auto;
        z-index: 99999;
        overflow: hidden;
    }

    .modal-holiday .content .footer .custom-button {
        margin-top: 15px;
        display: inline-block;
        margin-bottom: 25px;
        font-size: 14px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .modal-holiday .content .five-years {
        margin-bottom: 20px;
    }
    .modal-holiday .content {
        height: 100%;
        background: #eae7e7;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .modal-holiday .content .second-line {
        font-size: 30px;
        color: #333333;
        margin-bottom: 20px;
    }
    .modal-holiday .content .third-line {
        font-size: 12px;
    }

    .modal-holiday .content  .footer span {
        margin-top: 10px;
        display: block;
        font-size: 15px;
    }
    .news-item{
        height: 377px;
    }
    .news-item  p {
        overflow: hidden;
        height: 70px;
        width: 100%;
    }


    #private-cars, #company-cars, #moto, #boat {
        height: 350px!important;
    }
    .modal-login-bookmarks {
        left: 0;
        width: auto;
    }
    .loader {
        left: 42%;
        top:48%;
        position: relative;
    }
    .modal-login {
        overflow-y: scroll !important;
        right: 0;
        left: 0;
    }
    .calculator-block button.custom-button {
        left: 15%;
        position: relative;
    }
    .main-page .calculator-block .js-loan-results {
        float: left;
        margin-top: 5px;
        position: relative;
        left: 35%;
    }
    .main-row {
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

/* Iphone 4 */
@media screen and (max-width: 361px) {
    .modal-holiday {
        position: absolute;
        right: 0;
        top: 10%;
        bottom: 0;
        left: 0;
        height: auto;
        z-index: 99999;
        overflow: hidden;
    }

    .modal-holiday .content .footer .custom-button {
        margin-top: 15px;
        display: inline-block;
        margin-bottom: 25px;
        font-size: 11px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .modal-holiday .content .five-years {
        margin-bottom: 20px;
    }
    .modal-holiday .content {
        height: 100%;
        background: #eae7e7;
        padding-top: 10px;
        padding-right: 10px;
    }
    .modal-holiday .content .second-line {
        font-size: 30px;
        color: #333333;
        margin-bottom: 20px;
    }
    .modal-holiday .content .third-line {
        font-size: 12px;
    }

    .modal-holiday .content  .footer span {
        margin-top: 10px;
        display: block;
    }
    .news-item{
        height: 377px;
    }
    .news-item  p {
        overflow: hidden;
        height: 70px;
        width: 100%;
    }


    .loader {
        left: 42%;
        top:48%;
        position: relative;
    }
    .calculator-block button.custom-button {
        left: 0;
        position: unset;
    }
    .main-page .calculator-block .js-loan-results {
        float: left;
        margin-top: 5px;
        position: relative;
        left: 35%;
    }
    .main-row {
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
}
/* mobiles */
@media (min-width: 576px) {
    .modal-holiday {
        position: absolute;
        right: 0;
        top: 10%;
        bottom: 0;
        left: 0;
        height: auto;
        z-index: 99999;
        overflow: hidden;
    }


    .modal-holiday .content .footer .custom-button {
        margin-top: 15px;
        display: inline-block;
        margin-bottom: 25px;
        font-size: 14px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .modal-holiday .content .five-years {
        margin-bottom: 20px;
    }
    .modal-holiday .content {
        height: 100%;
        background: #eae7e7;
        padding-top: 10px;
        padding-right: 10px;
    }
    .modal-holiday .content .second-line {
        font-size: 30px;
        color: #333333;
        margin-bottom: 20px;
    }
    .modal-holiday .content .third-line {
        font-size: 12px;
    }
    .modal-holiday .content  .footer span {
        margin-top: 10px;
        display: block;
    }
    .news-item{
        height: 377px;
    }
    .news-item  p {
        overflow: hidden;
        height: 70px;
        width: 100%;
    }


    .loader {
        left: 48%;
        top:48%;
        position: relative;
    }
    .main-row {
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .calculator-block button.custom-button {
        left: 10%;
        position: relative;
    }
    .social-mobile .custom-button {
        padding: 10px 5px !important;
    }

    .social-mobile p {
        margin-top: 5px;
    }
    .main-page .calculator-block .js-loan-results {
        float: left;
        margin-top: 5px;
    }
}

/* tablets */
@media (min-width: 768px) {
    .modal-holiday {
        position: absolute;
        right: 0;
        top: 10%;
        bottom: 0;
        left: 0;
        height: auto;
        z-index: 99999;
        overflow: hidden;
    }

    .modal-holiday .content .footer .custom-button {
        margin-top: 15px;
        display: inline-block;
        margin-bottom: 25px;
        font-size: 14px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .modal-holiday .content {
        height: 100%;
        background: #eae7e7;
        padding-top: 10px;
        padding-right: 10px;
    }
    .modal-holiday .content .five-years {
        margin-bottom: 20px;
    }
    .modal-holiday .content .second-line {
        font-size: 30px;
        color: #333333;
        margin-bottom: 20px;
    }
    .modal-holiday .content .third-line {
        font-size: 12px;
    }
    .modal-holiday .content  .footer span {
        margin-top: 10px;
        display: block;
    }
    .news-item {
        height: 377px;
    }
    .news-item  p {
        overflow: hidden;
        height: 70px;
        width: 100%;
    }

    .loader {
        left: 48%;
        top:48%;
        position: relative;
    }
    .main-row {
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .carousel-cars .nav-tabs .nav-link:hover,
    .carousel-cars .nav-tabs .nav-link.active {
        border-width: 4px;
    }

    .carousel-cars .carousel-item {
        margin: 5px;
    }

    .social-mobile .custom-button {
        padding: 10px 5px !important;
    }
    .main-page .calculator-block .js-loan-results {
        float: left;
        margin-top: 5px;
    }

    .social-mobile p {
        margin-top: 5px;
    }


    .banner {
        padding: 40px 10px;
        background-size: cover;
    }

    .read-more-link {
        display: block;
    }

    .read-more-link i {
        font-size: 12px;
    }

    .banner h2 {
        font-size: 30px;
    }

    .category-menu ul {
        justify-content: center;
    }

    .category-menu li {
        width: 29%;
        margin: 2%;
    }

    .category-img.scooter {
        background-size: 42%;
    }

    .brands {
        columns: 3;
    }
}

/* Large tablets, netbooks */
@media (min-width: 992px) {
    .modal-holiday {
        position: absolute;
        right: 20%;
        top: 20%;
        bottom: 0;
        left: 20%;
        height: auto;
        z-index: 99999;
        overflow: hidden;
    }
    .modal-holiday .content .five-years, .modal-holiday .content .first-line, .modal-holiday .content .third-line {
        font-size: 22px;
    }
    .modal-holiday .content .fours-line {
        font-size: 25px;
    }
    .modal-holiday .content .footer span {
        font-size:  18px;
    }
    .modal-holiday .content .second-line {
        font-size: 40px;
    }
    .news-item {
        height: auto;
    }
    .main-row {
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .carousel-cars .carousel-item {
        flex: auto;
    }

    .carousel-cars .nav-tabs {
        overflow-x: hidden;
    }
    .carousel-cars .nav-tabs .nav-item a {
        font-size: 15px;
    }

    .carousel-cars .car-description h5 {
        font-size: 14px;
    }

    .carousel-cars .car-description p {
        font-size: 13px;
        line-height: 18px;
    }


    .calculator-block button.custom-button {
        left: 0;
        position: unset;
    }
    .header-info-links a {
        font-size: 12px;
    }

    .info-header button {
        font-size: 12px;
    }

    .first-level-menu {
        padding: 0;
    }

    .first-level-menu > li,
    .first-level-menu li {
        font-size: 15px;
    }

    .banner {
        padding: 40px 10px 80px;
        background: url("../theme/images/homepage-main.jpg") no-repeat center;
        background-size: cover;
    }

    .search-form {
        margin-top: 0;
    }

    .hidden-mobile {
        display: block;
    }

    .hidden-desktop {
        display: none;
    }

    #hamburger {
        display: none;
    }

    .info-header {
        display: flex;
    }

    .category-menu {
        padding: 0;
    }

    .categories {
        margin-top: -60px;
    }

    .category-menu li {
        width: 18%;
        margin: 1%;
    }

    .category-menu li a {
        min-height: 124px;
    }

    .info-links ul li {
        display: inline-block;
    }
    .news-item {
        width: auto;
    }
    .news h2 {
        font-size: 25px;
    }

    .news h2 + p {
        font-size: 14px;
    }

    .news-description {
        padding: 10px;
    }

    .news-item h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .news-item p {
        font-size: 13px;
    }
}

/* desktop */
@media (min-width: 1200px) {
    .modal-holiday {
        position: absolute;
        right: 20%;
        top: 20%;
        bottom: 0;
        left: 20%;
        height: auto;
        z-index: 99999;
        overflow: hidden;
    }
    .modal-holiday .content .five-years, .modal-holiday .content .first-line, .modal-holiday .content .third-line {
        font-size: 22px;
    }
    .modal-holiday .content .fours-line {
        font-size: 25px;
    }
    .modal-holiday .content .footer span {
        font-size:  18px;
    }
    .modal-holiday .content .second-line {
        font-size: 40px;
    }
    .news-item {
        height: auto;
    }
    .main-news .news-item p {
        font-size: 14px;
        height: 40px;
    }
    .news-item p {
        font-size: 14px;
        height: 80px;
    }
    .carousel-cars .carousel-row {
        overflow: visible;
    }
    .main-row {
        overflow-y: hidden;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .calculator-block button.custom-button {
        left: 0;
        position: unset;
    }
    .container {
        min-width: 1250px;
    }

    .first-level-menu .dropdown:hover > .dropdown-menu {
        display: block;
    }

    .first-level-menu .dropdown > .dropdown-toggle:active {
        pointer-events: none;
    }

    .header-info-links a {
        font-size: 14px;
    }

    .info-header button {
        font-size: 14px;
    }

    .first-level-menu > li,
    .first-level-menu li {
        font-size: 18px;
    }

    .brands {
        columns: 5;
    }

    .callback form {
        padding: 15px;
    }

    .online-block h2 {
        font-size: 28px;
    }

    .online-block p {
        font-size: 18px;
    }

    .footer-menu ul li {
        font-size: 13px;
        margin-bottom: 10px;
    }
}
